<div class="mainView" ng-controller="StudentsCtrl">
    <div class="studentActions">
	    <div class="studentAdd">
	      <h4>Add Student</h4>
	      <form ng-submit="addStudent()" class="form-inline" role="form">
	        <div class="input-group">
	         <span class="input-group-addon">+</span>
	          <input type="text" ng-model="StudentsFactory.studentName" class="form-control" id="student-name" placeholder="Enter name">
	        </div>
	        <button type="submit" class="btn">Submit</button>
	      </form>
	    </div>
	    
	    <div class="studentSearch" ng-show="students.length">
	      <div class="">
	        <h4>Search Students</h4>
	        <form class="form-inline" role="form">
	          <div class="form-group">
	            <input ng-model="query" type="text" class="form-control" id="student-name" placeholder="Search">
	          </div>
	        </form>
	      </div>
	    </div>
    </div>
    
    <div class="studentTable">
    <div>
      <h3>Student List</h3>
      <h2 ng-show="students.length && !filtered.length">No Matches</h2>
      <table class='table table-bordered table-striped table-hover'>
      	<tr>
      		<th>Name</th>
      		<th>Action</th>
      	</tr>
        <tr ng-repeat="item in filtered = (students | filter:query)">
          <td ng-click="editing = true" ng-hide="editing">
            {{item.name}}
          </td>
          <td class="form-group" ng-show="editing" ng-submit="editing = false">
            <form class="form-inline" role="form">
              <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
             	<button class="btn btn-danger btn-sm" ng-click= "editStudent(item.name)" type="submit">Save</button>
            </form>
          </td>
          <td> 
            <button class='btn' ng-click="deleteStudent(item)">Delete</button>
          </td>
          
        </tr>
      </table>
    </div>
  </div>